# Ignore the virtual environment
venv/
env/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore database files
*.sqlite3

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc

# Ignore media files
media/
static/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs
*.log

